doctype 5
html( lang="en" )
  head
    link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,500" )
    link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,500" )
    link( rel="stylesheet", href="style.css" )
    title lgen :: 0config static site generator for node.js
  body
    != content
