@import "nib/reset"

global-reset()

html
  background #f3f3f3
  height 100%

body
  margin 0 auto
  width 920px
  padding 1em 20px
  font-family Roboto,  sans-serif
  font-weight 300
  border-left 1px solid #ddd
  border-right 1px solid #ddd
  min-height calc(unquote("100% - 2em"))
  line-height 1.5em

h1, h2, h3, h4
  font-weight 500
  padding 1em 0 0.5em 0
  &:first-child
    padding-top 0

h1
  font-size 200%

h2
  font-size 160%

h3
  font-size 140%

h4
  font-size 120%


code
  font-family "Source Code Pro",  monospace
  border-radius 2px
  padding 0 4px
  background #fafafa
  border 1px solid #ddd
  font-size 80%

.hlltable

  width 100%
  font-size 80%
  font-weight 300
  border 1px solid #ddd
  padding 0 4px
  border-radius 2px
  font-family "Source Code Pro",  monospace
  margin-bottom 0.5em
  line-height 1.5em

  .linenos
    width 1%
    border-right 1px solid #ddd
    padding-right 5px
    color #888
    background #fafafa

  .code
    padding-left 5px

  pre
    font-weight 300

  .c, .cm, .c1
    color #999988

  .err
    color #a61717
    background-color #e3d2d2

  .k, .o, .ow
    color #000000
    font-weight 500  

  .cp, .cs
    color #999999
    font-weight 500

  .gd
    color #000000
    background-color #ffdddd

  .ge
    color #000000

  .gr
    color #aa0000

  .gh
    color #999999

  .gi
    color #000000
    background-color #ddffdd

  .go
    color #888888

  .gp
    color #555555

  .gs
    font-weight 500

  .gu
    color #aaaaaa

  .gt
    color #aa0000

  .kc, .kd, .kn, .kp, .kr
    color #000000
    font-weight 500

  .kt
    color #445588
    font-weight 500

  .m
    color #009999

  .s
    color #d01040

  .na
    color #008080

  .nb
    color #0086B3

  .nc
    color #445588
    font-weight 500

  .no
    color #008080

  .nd
    color #3c5d5d
    font-weight 500

  .ni
    color #800080

  .ne
    color #990000
    font-weight 500

  .nf, .nl
    color #990000
    font-weight 500

  .nn
    color #555555

  .nt
    color #000080

  .w
    color #bbbbbb

  .mf, .mh, .mi, .mo, .il
    color #009999

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx
    color #d01040

  .sr
    color #009926

  .s1
    color #d01040

  .ss
    color #990073

  .bp
    color #999999

  .vc, .vg, .vi, .nv
    color #008080
